<h5 class="text-center">File Upload</h5>
<hr class="section-divider">
{% include 'Dealers/partials/errors.twig' %}
<form action="/{{ company_photos.action }}" method="POST" id="fileupload" enctype="multipart/form-data">
  <input type="hidden" name="company_id" value="{% if contact_information.data.company %}{{ contact_information.data.company.id }}{% endif %}">
  <div class="row fileupload-buttonbar">
    <div class="col-sm-4">
        <span class="btn fileinput-button">
            <img src="/assets/images/fileupload/button.jpg" style="width: 100%" alt="Drag file here or click to browse">
            <input type="file" name="files[]" multiple accept="{{ fields.company_photos.files.format }}">
        </span>
    </div>
    <div class="col-sm-8">
        <h5>Uploading</h5>
        <p class="uploading-files-text">Company Files is a place for you to upload pertinent files and documents for your business. If we are developing a new website for you, please upload necessary files we have specified from you, here. Additionally, if you are enrolled in marketing services (ie Social Media) this is where you will upload your Business logo, images of your facility, staff etc. for promotional use.</p>
        <table role="presentation" class="table">
            <tbody class="files"></tbody>
        </table>
    </div>
  </div>
</form>
<h5 class="text-center">Uploaded Files</h5>
<hr class="section-divider">
<div class="row uploaded-files">
    {% for photo in company_photos.data %}
      <div class="col-6 col-sm-4 text-center uploaded-file">
        <div class="uploaded-file-image">
          <img src="{% if ('.png' in photo.filename or '.jpg' in photo.filename or '.jpeg' in photo.filename or '.gif' in photo.filename or '.svg' in photo.filename) %}/files/company_photos/{{ contact_information.data.company.id }}/{{ photo.filename }}{% else %}/assets/images/fileupload/default.png{% endif %}" alt="{{ photo.filename }}">
        </div>
        <p>{{ photo.filename }}</p>
        <p><a href="/files/company_photos/{{ contact_information.data.company.id }}/{{ photo.filename }}" download="{{ photo.filename }}">download</a> | <a class="delete-file-link" href="{{ company_photos.action }}/{{ photo.id }}">remove</a></p>
      </div>
    {% endfor %}
</div>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<script id="template-upload" type="text/x-tmpl">
{% verbatim %}
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview-file">
                {% if (file.type == 'image/png'
                    || file.type == 'image/jpeg'
                    || file.type == 'image/jpg'
                    || file.type == 'image/gif') { %}
                    <img src="/assets/images/fileupload/image.png" alt="image">
                {% } else if (file.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
                    || file.type == 'application/pdf') { %}
                    <img src="/assets/images/fileupload/doc.png" alt="document">
                {% } else if (file.type == 'video/mp4') { %}
                    <img src="/assets/images/fileupload/video.png" alt="video">
                {% } else { %}
                    <img src="/assets/images/fileupload/default.png" alt="default">
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            <div class="progress-text"></div>
            <strong class="error badge badge-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn cancel">&times;</button>
            {% } %}
        </td>
    </tr>
{% } %}
{% endverbatim %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% verbatim %}
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.type == 'image/png'
                    || file.type == 'image/jpeg'
                    || file.type == 'image/jpg'
                    || file.type == 'image/gif') { %}
                    <img src="/assets/images/fileupload/image.png" alt="image">
                {% } else if (file.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document'
                    || file.type == 'application/pdf') { %}
                    <img src="/assets/images/fileupload/doc.png" alt="document">
                {% } else if (file.type == 'video/mp4') { %}
                    <img src="/assets/images/fileupload/video.png" alt="video">
                {% } else { %}
                    <img src="/assets/images/fileupload/default.png" alt="default">
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="badge badge-danger">Error:</span> <small>{%=file.error%}</small></div>
            {% } else { %}
                <div>Complete</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}">&times;</button>
            {% } else { %}
                <button class="btn cancel">&times;</button>
            {% } %}
        </td>
    </tr>
{% } %}
{% endverbatim %}
</script>
