{% extends 'Dealers/website/order/new-order.twig' %}
{% block title %}Update Home Page{% endblock %}
{% block order_page_title %}Update Home Page{% endblock %}
{% block order_page_form %}
  {% set blocks = {
    'banner':   'Select 1 Option For Your Home Page Banner',
    'category': 'Customize How You Showcase Your Category Selections'
  } %}
  {% for subgroup, title in blocks %}
    <h2>{{ title }}</h2>
    <div class="bordered-block border-secondary mt-2 mb-5 p-3">
    {% for costs_type, cost in costs %}
      {% if cost.group == 'home_page' and cost.subgroup == subgroup %}
        <div id="{{ costs_type }}">
          <div class="row">
            <div class="col-12">
              <h2>{{ cost.title }} <span class="badge info-tool" data-toggle="tooltip" data-placement="top" title="{{ cost.title }}"><i class="fa fa-info-circle"></i></span></h2>
            </div>
          </div>
          {% include 'Dealers/partials/order/website-package-buttons.twig' %}
        </div>
        <input type="hidden" name="{{ costs_type }}" value="{% if messages.input[0][costs_type] is defined %}{{ messages.input[0][costs_type] }}{% else %}{% if order.costs[costs_type] is defined %}{{ order.costs[costs_type] }}{% else %}0{% endif %}{% endif %}">
      {% endif %}
    {% endfor %}
    </div>
  {% endfor %}
  {% if order.order.id is defined %}
    <input type="hidden" name="order_id" value="{{ order.order.id }}">
  {% endif %}
{% endblock %}
{% block footer_scripts %}
{{ parent() }}
<script>
  $('.info-tool').tooltip();
  $('button[data-option-name="standard_banner"]').click(function () {
    $('button[data-option-name="scrolling_banner"], button[data-option-name="video_banner"]')
      .removeClass('btn-primary').addClass('btn-secondary');
    $('input[name="scrolling_banner"], input[name="video_banner"]').val(0);
    $('[data-scrolling_banner-total]').data('scrolling_banner-total', 0);
    $('[data-video_banner-total]').data('video_banner-total', 0);
  });
  $('button[data-option-name="scrolling_banner"]').click(function () {
    $('button[data-option-name="standard_banner"], button[data-option-name="video_banner"]')
      .removeClass('btn-primary').addClass('btn-secondary');
    $('input[name="standard_banner"], input[name="video_banner"]').val(0);
    $('[data-standard_banner-total]').data('standard_banner-total', 0);
    $('[data-video_banner-total]').data('video_banner-total', 0);
  });
  $('button[data-option-name="video_banner"]').click(function () {
    $('button[data-option-name="scrolling_banner"], button[data-option-name="standard_banner"]')
      .removeClass('btn-primary').addClass('btn-secondary');
    $('input[name="scrolling_banner"], input[name="standard_banner"]').val(0);
    $('[data-scrolling_banner-total]').data('scrolling_banner-total', 0);
    $('[data-standard_banner-total]').data('standard_banner-total', 0);
  });
  var order = {{ order|json_encode|raw }};
</script>
{% endblock %}
