{% extends 'Common/layouts/index.twig' %}
{% block title %}Dealers{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <h1>Login to Dealers Portal!</h1>
  </div>
</div>
{% if messages is defined and messages is not empty %}
<div class="row">
  <div class="col">
    <ul class="list-group">
      {% if messages['error'] is defined %}
        {% for message in messages['error'] %}
          <li class="list-group-item list-group-item-danger">
            {{ message }}
          </li>
        {% endfor %}
      {% elseif messages['message'] is defined %}
        {% for message in messages['message'] %}
          <li class="list-group-item list-group-item-{% if message.status == 'success' %}success{% else %}danger{% endif %}">
            {{ message.text }}
          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>
{% endif %}
<div class="row justify-content-md-center">
  <div class="col col-md-6">
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="email-input">Email address</label>
        <input type="email" class="form-control" id="email-input" name="email" placeholder="Email" required maxlength="{{ fields.email.max_length }}">
      </div>
      <div class="form-group">
        <label for="password-input">Password</label>
        <input type="password" class="form-control" id="password-input" name="password" placeholder="Password" required minlength="{{ fields.password.min_length }}">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p class="float-right"><a href="{{ links.reset }}">Reset Password</a></p>
    </form>
  </div>
</div>
{% endblock %}