{% extends 'Common/layouts/index.twig' %}
{% block title %}Dealers{% endblock %}
{% block content %}
<div class="row">
  <div class="col">
    <h1>Reset Password</h1>
  </div>
</div>
{% if messages is not empty %}
  <div class="row justify-content-md-center mb-5">
    <div class="col col-md-6">
      <ul class="list-group">
        {% if messages['error'] is defined %}
          {% for message in messages['error'] %}
            <li class="list-group-item list-group-item-danger">{{ message }}</li>
          {% endfor %}
        {% elseif messages['message'] is defined %}
          {% for message in messages['message'] %}
            <li class="list-group-item
              list-group-item-{% if message.status == 'success' %}success{% else %}danger{% endif %}">
              {{ message.text }}
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
{% endif %}
<div class="row justify-content-md-center">
  <div class="col col-md-6">
    <form action="/{{ action }}" method="POST" novalidate>
      <div class="form-group">
        <label for="password-input">New Password</label>
        <input type="password" class="form-control" id="password-input" name="password" placeholder="New Password" required minlength="{{ fields.password.min_length }}">
      </div>
      <div class="form-group">
        <label for="password-confirm-input">New Password Confirm</label>
        <input type="password" class="form-control" id="password-confirm-input" name="password_confirm" placeholder="New Password Confirm" required minlength="{{ fields.password.min_length }}">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
